.header {
  
}

.header__block-top {
  background-color: #F8F9FA;
}

.header__block-bottom {
  background-color: #3A3A3A;
}

.header__content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .padding-block(20px);
}

.header__logo {
  margin-left: -5px;
}

.header__search {
  .margin-inline(50px);
  max-width: 826px;
  width: 59.1%;
}