.logo {
  display: flex;
  align-items: center;

  font-family: @charter;
  font-weight: 400;
}

.logo__img-wrap {
  width: 82px;
  height: 68px;
}

.logo__img {
  .contain-img;
  object-position: -5px;
}

.logo__text-wrap {
  width: 185px;
  margin-left: 5px;
}

.logo__text {
  line-height: 22px;
  font-size: 16px;
  text-transform: uppercase;
}

.logo__text-item {
  display: block;
}
