.footer {
  padding-top: 11.1rem;
  padding-bottom: 2.5rem;
  background-color: #FAFAFB;
}

.footer__column-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem;
}

.footer__list {
  margin-bottom: 3.3rem;
}

.footer__item {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;
  &--bold {
    font-weight: 700;
  }
}

.footer__column-center {
  max-width: 200px;
  margin-right: 7.9rem;
  padding-top: 3rem;
  text-align: center;
}

.footer__logo {
  flex-direction: column;
  margin-bottom: 2.1rem;

  font-family: @circe;
  font-weight: 700;
}

.footer__contacts-block {
}

.footer__contacts-list {
  margin-bottom: 2.7rem;
}

.footer__contacts-item {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0px;
  }
}

.footer__contacts-link {
  margin-top: 0.3rem;
  font-size: 2.5rem;
}

.footer__social-links {
  display: flex;
  justify-content: center;
}

.footer__column-right {
  text-align: right;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright-text {
  // padding-left: 7rem;
  font-size: 1.8rem;
  color: #808080;
}

@media (max-width: @tablet-width) {
  .footer {
    padding-top: 59px;
    padding-bottom: 25px;
  }

  .footer__column-wrap {
    flex-wrap: wrap;
    margin-bottom: 41px;
  }

  .footer__column-left,
  .footer__column-right {
    width: 50%;
  }

  .footer__item {
    margin-bottom: 12px;
    font-size: 15px;
  }

  .footer__column-center {
    order: 1;
    max-width: 310px;
    .margin-inline(@a);
    padding-top: 75px;
  }

  .footer__copyright-text {
    // padding-left: 15px;
  }
}

@media (max-width: @mobile-width) {
  .footer {
    padding-top: @m59px;
    padding-bottom: @m25px;
  }

  .footer__column-wrap {
    margin-bottom: @m41px;
  }

  .footer__column-left,
  .footer__column-right {
    max-width: 170px;
  }

  .footer__contacts-list {
    margin-bottom: @m27px;
  }

  .footer__item {
    margin-bottom: @m12px;
    font-size: @m15px;
  }

  .footer__contacts-link {
    margin-top: @m3px;
    font-size: @m25px;
  }

  .footer__column-center {
    padding-top: @m60px;
  }

  .footer__column-right {
    text-align: left;
  }

  .footer__copyright-text {
    // padding-left: @m15px;
    font-size: @m18px;
  }

  .footer__copyright-logo {
    width: @m20px;
    height: @m20px;
  }
}