@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe/extrabold/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe/extrabold/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/extrabold/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Charter;
  src: local("Charter"), local("Charter Regular"), local("Charter-Regular"), url("../fonts/Charter/regular/Charter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #EFF1F4;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #000;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Circe', 'Arial', sans-serif;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.active {
  display: block;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 141rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-outside {
  width: 151rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mobile-block {
  display: none;
}
.desktop-block {
  display: block;
}
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
.subtitle {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 1.8rem;
}
.subtitle::after {
  content: '';
  position: absolute;
  bottom: 0.6rem;
  height: 0.2rem;
  background-color: #000;
}
.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
}
.link--circle::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1.7rem;
  left: -3rem;
  width: 7rem;
  height: 7rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
}
.stroke {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #353535;
}
.stroke--white {
  -webkit-text-stroke-color: #fff;
}
.icon-arrow {
  width: 5rem;
  height: 5rem;
}
.icon-arrow--right {
  padding-left: 1.1rem;
}
.icon-arrow--left {
  padding-right: 1.1rem;
}
.icon-arrow--top {
  transform: rotate(-90deg);
}
.icon-arrow--bottom {
  transform: rotate(90deg);
}
@media (max-width: 760px) {
  .container,
  .container-outside {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .desktop-block {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  .subtitle::after {
    bottom: 0.6rem;
    height: 0.2rem;
    border-radius: 0.2rem;
  }
  .link--circle::before {
    top: -1.7rem;
    left: -3rem;
    width: 7rem;
    height: 7rem;
    border: 0.3rem solid #fff;
    border-radius: 50%;
  }
}
.o {
  outline: 1px solid red;
}
.b {
  border: 1px solid red;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1808px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 1728px) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 1680px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1536px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 1070px) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 50%;
  }
}
/*header*/
.header {
  position: relative;
}
.header__block-top {
  background-color: #EFF1F4;
}
.header__block-bottom {
  background-color: #3A3A3A;
}
.header__content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
}
.header__logo {
  margin-left: -0.5rem;
}
.header__search {
  max-width: 826px;
  width: 59.1%;
  margin-left: 5rem;
  margin-right: 5rem;
}
.header__menu-toggle,
.header__search-toggle {
  display: none;
}
@media (max-width: 760px) {
  .active .header__block-top,
  .active .header__block-bottom {
    position: relative;
    background-color: #fff;
  }
  .header__content-wrap {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    flex-wrap: wrap;
  }
  .header__search {
    display: none;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 3.2rem;
  }
  .header__search.active {
    display: block;
  }
  .header__social-links {
    display: none;
  }
  .header__block-bottom {
    display: none;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 20;
    width: 100%;
    height: 100vh;
  }
  .header__block-bottom.active {
    display: block;
  }
  .header__menu-toggle,
  .header__search-toggle {
    display: block;
    cursor: pointer;
  }
  .header__search-toggle {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .header__search-toggle.hidden {
    visibility: hidden;
  }
  .header__search-toggle-icon {
    width: 3rem;
    height: 3rem;
  }
  .header__logo {
    margin-left: 0.6rem;
  }
}
.logo {
  display: flex;
  align-items: center;
  font-family: 'Charter', 'Times New Roman', serif;
  font-weight: 400;
  cursor: pointer;
}
.logo__img-wrap {
  width: 8.2rem;
  height: 7rem;
}
.logo__img-wrap--big {
  width: 14.4rem;
  height: 12.2rem;
  margin-bottom: 1.2rem;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo__img--position {
  -o-object-position: -0.5rem;
     object-position: -0.5rem;
}
.logo__text-wrap {
  max-width: 18.5rem;
}
.logo__text {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}
.logo__text-item {
  display: block;
  font-weight: 400;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-align: left;
}
.footer__copyright-logo {
  width: 2rem;
  height: 2rem;
  fill: #808080;
}
@media (max-width: 420px) {
  .logo__img-wrap {
    width: 6rem;
    height: 6rem;
  }
  .logo__img-wrap--big {
    width: 14rem;
    height: 14rem;
  }
  .logo__img--position {
    -o-object-position: 0;
       object-position: 0;
  }
  .logo__text-wrap {
    margin-left: 0.4rem;
  }
  .logo__text-item {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
.social-links__list {
  display: flex;
}
.social-links__item {
  margin-left: 1rem;
  border-radius: 50%;
}
.social-links__item:first-child {
  margin-left: 0;
}
.social-links__link {
  position: relative;
}
.social-links__icon {
  width: 2.9rem;
  height: 2.9rem;
  fill: #5C5C5C;
  transition: 0.5s;
}
.social-links__icon--big {
  width: 3.8rem;
  height: 3.8rem;
}
.icon-youtube:hover {
  fill: #FF0000;
}
.icon-twitter:hover {
  fill: #299CFE;
}
.icon-facebook:hover {
  fill: #3A5898;
}
.icon-instagram--gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
}
.icon-instagram--gradient:hover {
  opacity: 1;
}
@media (max-width: 420px) {
  .social-links__item {
    margin-left: 1rem;
  }
  .social-links__icon {
    width: 2.9rem;
    height: 2.9rem;
  }
  .social-links__icon--big {
    width: 3.8rem;
    height: 3.8rem;
  }
}
.search__form {
  position: relative;
}
.search__input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 4.5rem;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #D3D3D3;
  color: #777;
}
.search__icon {
  position: absolute;
  top: 1rem;
  right: 1.7rem;
  cursor: pointer;
}
@media (max-width: 420px) {
  .search__input {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 4.5rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }
  .search__icon {
    top: 50%;
    transform: translateY(-50%);
    right: 2.381vw;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.8rem;
}
.nav__list-link {
  display: flex;
  flex-wrap: wrap;
  max-width: 1175px;
}
.nav__item {
  margin-right: 3.9rem;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  padding-top: 1.4rem;
  padding-bottom: 1.2rem;
  color: #fff;
}
.nav__form-lang {
  display: flex;
  position: relative;
}
.nav__form-lang::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0.4rem;
  border: 0.7rem solid #ffffff;
  border-top-color: #ffffff;
  border-bottom-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
}
.nav__select-lang {
  padding-right: 2rem;
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.nav__social-links {
  display: none;
}
@media (max-width: 760px) {
  .nav {
    flex-wrap: wrap;
    color: #3A3A3A;
    font-size: 2rem;
  }
  .nav__list-link {
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.5rem;
  }
  .nav__item {
    margin-right: 0;
    margin-bottom: 3.4rem;
  }
  .nav__item:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    padding-top: 0;
    padding-bottom: 0;
    color: #3A3A3A;
  }
  .nav__form-lang {
    display: none;
  }
  .nav__social-links {
    display: block;
  }
}
.menu-toggle {
  position: relative;
  width: 3.4rem;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-toggle span {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.3rem;
  font-size: 0;
  color: transparent;
  background: #000000;
  cursor: pointer;
  transition: 0.1s 0.1s;
  border-radius: 0.3rem;
}
.menu-toggle.active span {
  background-color: transparent;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 0.3rem;
  background-color: #000000;
  border-radius: 0.3rem;
  transition: 0.3s 0.3s, transform 0.3s;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.active.menu-toggle::before {
  transform: rotate(-45deg);
  transition: 0.3s, transform 0.3s 0.3s;
  top: 1.4rem;
}
.active.menu-toggle::after {
  transform: rotate(45deg);
  transition: 0.3s, transform 0.3s 0.3s;
  bottom: 1.3rem;
}
@media (max-width: 380px) {
  .menu-toggle {
    margin-bottom: 0;
  }
}
/*main*/
.link-sections {
  margin-bottom: 3rem;
}
.link-sections__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-sections__link {
  max-width: 64.7rem;
}
.link-sections__item {
  margin-bottom: 10rem;
}
.link-sections__title {
  margin-bottom: 3.4rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  font-weight: 700;
  font-size: 4rem;
}
.link-sections__img-wrap {
  max-width: 647px;
  height: 27rem;
  margin-bottom: 3.2rem;
}
.link-sections__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.link-sections__desc {
  max-width: 440px;
  margin-bottom: 4.5rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  font-size: 2.4rem;
  line-height: 3.5rem;
}
.link-sections__btn-link {
  margin-left: 6rem;
}
@media (max-width: 760px) {
  .link-sections__item,
  .link-sections__link,
  .link-sections__img-wrap {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .link-sections {
    margin-bottom: 16rem;
  }
  .link-sections__title {
    margin-bottom: 2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-size: 3.5rem;
  }
  .link-sections__item {
    width: 100%;
    margin-bottom: 9.3rem;
  }
  .link-sections__item:last-child {
    margin-bottom: 0;
  }
  .link-sections__img-wrap {
    max-width: none;
    height: 20rem;
    margin-bottom: 2.6rem;
  }
  .link-sections__desc {
    max-width: none;
    margin-bottom: 4.2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .link-sections__btn-link {
    margin-left: 4.7rem;
  }
}
.slogan {
  box-sizing: border-box;
  position: relative;
  max-width: 1920px;
  min-height: 64.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.8rem;
}
.slogan--mb-bigger {
  margin-bottom: 11.4rem;
}
.slogan-project {
  margin-bottom: 15.5rem;
}
.slogan-project-detail {
  margin-bottom: 10.6rem;
}
.slogan__bg-img-wrap {
  position: absolute;
  z-index: -1;
  max-width: 1920px;
  width: 100%;
  height: 64.3rem;
  background-color: #5b3a29;
}
.slogan__bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slogan__content-wrap {
  box-sizing: border-box;
  padding-top: 7.1rem;
}
.slogan__intro-slogan,
.slogan__subtitle,
.slogan__title,
.slogan__link {
  color: #fff;
}
.slogan__intro-slogan {
  margin-bottom: 2.6rem;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.slogan__subtitle {
  margin-bottom: 6.5rem;
}
.slogan__subtitle::after {
  width: 21.7rem;
  right: -23.1rem;
  background-color: #fff;
}
.slogan__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 30rem;
  font-weight: 800;
  font-size: 8.5rem;
  line-height: 10rem;
  text-transform: uppercase;
}
.slogan__title--big {
  font-size: 11rem;
  line-height: 12rem;
}
.slogan__title-item {
  align-self: center;
  -webkit-text-stroke-width: 3px;
}
.slogan__title-item:first-child,
.slogan__title-item:last-child {
  color: transparent;
  -webkit-text-stroke-color: #fff;
}
.slogan__title-item:nth-child(2) {
  color: #fff;
}
.slogan-program .slogan__title {
  margin-bottom: 3.5rem;
}
.slogan-program .slogan__title-item:first-child {
  margin-left: 42rem;
}
.slogan-program .slogan__title-item:nth-child(2) {
  margin-right: 25rem;
}
.slogan-program .slogan__title-item:last-child {
  margin-right: 23rem;
}
.slogan-practice .slogan__title {
  margin-top: 1.2rem;
}
.slogan-practice .slogan__title-item:first-child {
  margin-left: 8.5rem;
}
.slogan-practice .slogan__title-item:last-child {
  margin-right: 55rem;
}
.slogan-project .slogan__content-wrap {
  padding-top: 21.1rem;
}
.slogan-project .slogan__title-item:first-child {
  margin-right: 20rem;
}
.slogan-project .slogan__title-item:last-child {
  margin-left: 30rem;
}
.slogan-project-detail .slogan__content-wrap {
  padding-top: 4.3rem;
}
.slogan-project-detail .slogan__title {
  margin-top: 13rem;
}
.slogan-project-detail .slogan__title-item:first-child {
  margin-right: 5rem;
}
.slogan-project-detail .slogan__title-item:nth-child(2) {
  margin-right: 1.4rem;
}
.slogan-project-detail .slogan__title-item:last-child {
  margin-right: 32rem;
}
.slogan__link {
  font-size: 2.2rem;
}
.slogan__link.mobile-block {
  display: none;
}
.slogan__icon-arrow {
  fill: #fff;
}
@media (max-width: 1000px) {
  .slogan-program .slogan__title,
  .slogan-practice .slogan__title,
  .slogan-project .slogan__title,
  .slogan-project-detail .slogan__title {
    margin: 0;
  }
  .slogan-program .slogan__title-item:first-child,
  .slogan-practice .slogan__title-item:first-child,
  .slogan-project .slogan__title-item:first-child,
  .slogan-project-detail .slogan__title-item:first-child,
  .slogan-program .slogan__title-item:nth-child(2),
  .slogan-practice .slogan__title-item:nth-child(2),
  .slogan-project .slogan__title-item:nth-child(2),
  .slogan-project-detail .slogan__title-item:nth-child(2),
  .slogan-program .slogan__title-item:last-child,
  .slogan-practice .slogan__title-item:last-child,
  .slogan-project .slogan__title-item:last-child,
  .slogan-project-detail .slogan__title-item:last-child {
    align-self: flex-start;
    margin: 0;
  }
  .slogan__title-item {
    align-self: flex-start;
    margin: 0;
  }
}
@media (max-width: 760px) {
  .slogan {
    min-height: 0;
    margin-bottom: 14.4rem;
  }
  .slogan--mb-bigger {
    margin-bottom: 8.3rem;
  }
  .slogan-practice {
    margin-bottom: 15.4rem;
  }
  .slogan-project {
    margin-bottom: 8.5rem;
  }
  .slogan-project-detail {
    margin-bottom: 5.7rem;
  }
  .slogan__intro-slogan,
  .slogan__subtitle {
    color: #000;
  }
  .slogan__intro-slogan {
    position: relative;
    margin-bottom: 4.8rem;
    font-size: 2rem;
    line-height: 2.9rem;
  }
  .slogan__intro-slogan::before {
    position: absolute;
    content: '';
    left: 0.2rem;
    bottom: -2.5rem;
    width: 5.7rem;
    height: 0.2rem;
    background-color: #000;
  }
  .slogan__subtitle {
    margin-bottom: 2.8rem;
    font-weight: normal;
    line-height: 2.7rem;
  }
  .slogan__subtitle::after {
    content: none;
  }
  .slogan__bg-img-wrap {
    width: 100%;
    height: 42.5rem;
  }
  .slogan__content-wrap {
    height: 42.5rem;
    margin-bottom: 2rem;
    padding-top: 4.5rem;
  }
  .slogan-practice .slogan__bg-img-wrap,
  .slogan-practice .slogan__content-wrap {
    height: 26.7rem;
  }
  .slogan-practice .slogan__content-wrap {
    margin-bottom: 1rem;
    padding-top: 8.2rem;
  }
  .slogan-practice .slogan__title {
    line-height: 5.9rem;
  }
  .slogan-project .slogan__content-wrap {
    padding-top: 15.2rem;
  }
  .slogan-project-detail .slogan__content-wrap {
    padding-top: 5.4rem;
  }
  .slogan-project-detail .slogan__title-item:first-child {
    font-size: 3.5rem;
  }
  .slogan__title {
    min-height: 0;
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 5.9rem;
    letter-spacing: 0.05em;
  }
  .slogan__title--big {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .slogan__title-item {
    -webkit-text-stroke-width: 0.1rem;
  }
  .slogan__link {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #000;
  }
  .slogan__link.mobile-block {
    display: inline-flex;
  }
  .slogan__icon-arrow {
    width: 4.2rem;
    padding-left: 2.1rem;
    fill: #000;
  }
  .slogan__icon-arrow--left {
    padding-left: 0;
  }
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects__item {
  position: relative;
  margin-left: 0.8rem;
  margin-bottom: 14.4rem;
  padding-left: 4rem;
}
.projects__item::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5rem;
  left: -0.6rem;
  width: 33.6rem;
  height: 36.5rem;
  border: 0.3rem solid #fff;
}
.projects__subtitle {
  margin-bottom: 2rem;
}
.projects__subtitle::after {
  right: -22.9rem;
  width: 21.7rem;
}
.projects__title {
  max-width: 52rem;
  min-height: 10rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
}
.projects__title--block {
  display: block;
}
.projects__btn-link {
  margin-bottom: 3rem;
}
.projects__img-wrap {
  height: 35rem;
}
.projects__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 760px) {
  .projects__item {
    margin-left: 0.8rem;
    margin-bottom: 9.9rem;
    padding-left: 0.9rem;
  }
  .projects__item::before {
    top: -3rem;
    left: -0.8rem;
    width: 33.6rem;
    height: 33.6rem;
    border: 0.3rem solid #fff;
  }
  .projects__subtitle {
    margin-bottom: 3.5rem;
  }
  .projects__subtitle::after {
    right: -17.9rem;
    width: 16.6rem;
  }
  .projects__title {
    max-width: 32rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .projects__btn-link {
    margin-bottom: 1.8rem;
  }
  .projects__icon-arrow {
    width: 4.2rem;
    padding-left: 1.4rem;
  }
  .projects__img-wrap {
    margin-left: 2rem;
    height: 25rem;
  }
}
@media (max-width: 420px) {
  max-width: 32.7rem;
}
.program {
  margin-bottom: 10.4rem;
}
.program__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.program__item {
  position: relative;
  max-width: 647px;
  margin-bottom: 10.3rem;
}
.program__img-wrap {
  max-width: 647px;
  height: 54.2rem;
}
.program__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.program__content-wrap {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding-top: 3.6rem;
  padding-left: 2.7rem;
  width: 45rem;
  height: 22.5rem;
  background-color: #EFF1F4;
}
.program__title {
  margin-right: 2.5rem;
  margin-bottom: 2.1rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
}
.program__content-list {
  padding-left: 4rem;
}
.program__content-item {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 2rem;
}
.program__content-item:last-child {
  margin-bottom: 0;
}
.program__content-item::before {
  content: '';
  position: absolute;
  top: 0.6rem;
  left: -4.1rem;
  width: 2.8rem;
  height: 0.3rem;
  background-color: #000;
}
@media (max-width: 760px) {
  .program__item {
    margin-bottom: 83px;
    max-width: none;
    width: 100%;
  }
  .program__img-wrap {
    max-width: none;
    width: 100%;
    height: 435px;
  }
  .program__content-wrap {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 21px;
    padding-left: 0px;
  }
  .program__title {
    box-sizing: border-box;
    position: absolute;
    top: -15.4rem;
    left: 0;
    display: flex;
    align-items: center;
    width: 25.8rem;
    height: 16rem;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 2.1rem;
    font-size: 2.5rem;
    line-height: 3rem;
    background-color: #EFF1F4;
  }
  .program__content-item {
    max-width: 32.5rem;
  }
  .program__content-item::before {
    top: 0.6rem;
    left: -2.4rem;
    width: 1.6rem;
  }
}
@media (max-width: 420px) {
  .program__img-wrap {
    max-width: 36.7rem;
  }
}
.two-columns {
  margin-bottom: 8.8rem;
}
.two-columns--mb-bigger {
  margin-bottom: 12.5rem;
}
.two-columns--mt {
  margin-top: 21.5rem;
}
.two-columns--btn-back {
  margin-top: 9.5rem;
}
.two-columns__main-title {
  margin-bottom: 6.6rem;
  font-weight: 800;
  font-size: 8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.two-columns__column-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.two-columns__column-center {
  width: 107rem;
}
.two-columns__link-back {
  margin-bottom: 7rem;
  font-size: 2.2rem;
}
.two-columns__column-left {
  width: 56.9rem;
}
.two-columns__title {
  max-width: 460px;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 7rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.two-columns__subtitle {
  margin-bottom: 3.9rem;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.4rem;
}
.two-columns__link-blank {
  margin-bottom: 4.1rem;
  font-size: 2.4rem;
  line-height: 3.5rem;
}
.two-columns__signature {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.9rem;
}
.two-columns__column-right {
  width: 76.6rem;
}
.two-columns__desc {
  margin-bottom: 2.7rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.two-columns__list-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.two-columns__list {
  counter-reset: articleItem;
  margin-bottom: 2.7rem;
}
.two-columns__item {
  position: relative;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.two-columns__item:first-letter {
  padding-left: 20px;
}
.two-columns__item::after {
  counter-increment: articleItem;
  content: counter(articleItem, decimal-leading-zero);
  position: absolute;
  top: -0.4rem;
  left: 2px;
  font-weight: 800;
  font-size: 10px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000;
}
.two-columns__img-wrap {
  margin-top: 9rem;
  width: 100%;
  height: 45.5rem;
}
.two-columns__img-wrap--img-top {
  height: 33.1rem;
  margin-top: 0;
  margin-bottom: 9.6rem;
}
.two-columns__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.two-columns__article-title {
  margin-bottom: 2.2rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.4rem;
}
@media (max-width: 760px) {
  .two-columns {
    margin-bottom: 3.2rem;
  }
  .two-columns--mb-bigger {
    margin-bottom: 11.2rem;
  }
  .two-columns--mt,
  .two-columns--btn-back {
    margin-top: 6rem;
  }
  .two-columns__main-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
    font-size: 4rem;
    line-height: 5.9rem;
    letter-spacing: normal;
  }
  .two-columns__main-title--stroke {
    letter-spacing: 0.05em;
  }
  .two-columns__column-left,
  .two-columns__column-right,
  .two-columns__column-center {
    width: auto;
  }
  .two-columns__link-back {
    margin-bottom: 2rem;
  }
  .two-columns__column-left {
    margin-bottom: 3.8rem;
  }
  .two-columns__feedback {
    order: 2;
    margin-top: 15.9rem;
  }
  .two-columns__title {
    max-width: none;
    margin-bottom: 3.7rem;
    font-size: 5rem;
    line-height: 6rem;
  }
  .two-columns__subtitle {
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-bottom: 4.2rem;
  }
  .two-columns__signature {
    margin-bottom: 0;
  }
  .two-columns__img-wrap {
    margin-top: 1.7rem;
    height: 14.5rem;
  }
  .two-columns__img-wrap--img-top {
    height: 26.5rem;
    margin-bottom: 7.4rem;
  }
}
.about-info {
  margin-top: 7.8rem;
  margin-bottom: 12.8rem;
}
.about-info__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 72.6rem;
}
.about-info__list {
  counter-reset: articleItem;
  max-width: 625px;
  min-height: 18rem;
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.about-info__item {
  position: relative;
  margin-bottom: 0.9rem;
  padding-left: 1.7rem;
}
.about-info__item::before {
  counter-increment: articleItem;
  content: counter(articleItem, decimal-leading-zero);
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: 800;
  font-size: 1rem;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000;
}
.about-info__link {
  display: inline-block;
}
.about-info__img-wrap {
  position: absolute;
  z-index: -1;
  top: 4rem;
  right: 0;
  width: 76.6rem;
  height: 68.6rem;
}
.about-info__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-info__title {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  text-transform: uppercase;
}
.about-info__title-item {
  font-size: 8.5rem;
  line-height: 11rem;
  letter-spacing: 0.05em;
}
.about-info__title-item--ml90 {
  margin-left: 91px;
}
.about-info__title-item:first-child {
  margin-bottom: 0.2rem;
  font-size: 8rem;
  line-height: 11.8rem;
  letter-spacing: normal;
  color: #000;
  -webkit-text-stroke-width: 1px;
}
.about-info__title-item:nth-child(2) {
  margin-left: 31.9rem;
}
.about-info__title-item:nth-child(3) {
  margin-left: 4.2rem;
}
.about-info__title-item:last-child {
  margin-left: 34rem;
}
@media (max-width: 760px) {
  .about-info {
    margin-top: 0;
    margin-bottom: 11.1rem;
  }
  .about-info__wrap {
    min-height: 0;
  }
  .about-info__list {
    min-height: 0;
    margin-bottom: 2.7rem;
    font-size: 1.6rem;
  }
  .about-info__item {
    margin-bottom: 1.1rem;
    padding-left: 1.7rem;
  }
  .about-info__item::before {
    top: 0.1rem;
    font-size: 1rem;
  }
  .about-info__title {
    margin-bottom: 0.6rem;
  }
  .about-info__title-item {
    margin-left: 0;
    font-size: 4rem;
    line-height: 5.9rem;
    letter-spacing: 0.05em;
  }
  .about-info__title-item:first-child {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 5.9rem;
    letter-spacing: normal;
    -webkit-text-stroke-width: 0.1rem;
  }
  .about-info__title-item:nth-child(2),
  .about-info__title-item:nth-child(3),
  .about-info__title-item:last-child {
    margin-left: 0;
  }
  .about-info__img-wrap {
    position: relative;
    z-index: 0;
    top: 0;
    width: auto;
    height: 26.5rem;
  }
}
.chronicle {
  margin-bottom: 11.6rem;
}
.chronicle__main-title {
  margin-bottom: 1.7rem;
  font-weight: 700;
  font-size: 6.5rem;
  -webkit-text-stroke-width: 1px;
}
.chronicle__block {
  display: flex;
  padding-top: 5.5rem;
  padding-bottom: 4.9rem;
  border-bottom: 0.1rem solid #DEDEDE;
}
.chronicle__block:first-of-type {
  border-top: 0.1rem solid #DEDEDE;
}
.chronicle__date {
  width: 34rem;
  font-weight: 800;
  font-size: 7rem;
  letter-spacing: 0.05em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.chronicle__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90rem;
  margin-left: auto;
  margin-right: 4.2rem;
}
.chronicle__title {
  margin-bottom: 2.3rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
  transition: all 500ms;
}
.chronicle__title.active {
  margin-bottom: 0;
}
.chronicle__hidden-wrap {
  overflow: hidden;
  transition: all 500ms;
}
.chronicle__desc {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.chronicle__list {
  counter-reset: articleItem;
}
.chronicle__item {
  position: relative;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.chronicle__item:first-letter {
  padding-left: 20px;
}
.chronicle__item::after {
  counter-increment: articleItem;
  content: counter(articleItem, decimal-leading-zero);
  position: absolute;
  top: -0.4rem;
  left: 2px;
  font-weight: 800;
  font-size: 10px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000;
}
.chronicle__btn-wrap {
  align-self: center;
  margin-left: auto;
}
.chronicle__btn,
.chronicle__more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border: 0.3rem solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}
.chronicle__icon-arrow {
  width: 4rem;
  height: 4rem;
  transform: rotate(-90deg);
  transition: transform 0.7s;
}
.chronicle__icon-arrow--bottom {
  transform: rotate(90deg);
}
.active .chronicle__icon-arrow {
  transform: rotate(-90deg) scale(-1);
}
.chronicle__btn-more-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}
.chronicle__more-text {
  padding-left: 1.3rem;
}
@media (max-width: 760px) {
  .chronicle {
    margin-bottom: 11.8rem;
  }
  .chronicle__main-title {
    margin-bottom: 4.4rem;
    font-size: 4rem;
  }
  .chronicle__block {
    flex-wrap: wrap;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
  .chronicle__date {
    width: 27.5rem;
    font-size: 6rem;
  }
  .chronicle__main-content {
    order: 2;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .chronicle__title {
    display: none;
    margin-bottom: 0;
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
  .chronicle__hidden-wrap {
    margin-top: 2.6rem;
  }
  .chronicle__hidden-wrap.active {
    margin-top: 0;
  }
  .chronicle__desc {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .chronicle__item:first-letter {
    padding-left: 2.3rem;
  }
  .chronicle__item::after {
    top: -0.3rem;
    left: 0.5rem;
    font-size: 1rem;
  }
  .chronicle__btn,
  .chronicle__more-btn {
    width: 6.7rem;
    height: 6.7rem;
  }
  .chronicle__icon-arrow {
    width: 3.5rem;
    height: 3.5rem;
  }
  .chronicle__btn-more-wrap {
    margin-top: 4.2rem;
  }
  .chronicle__more-text {
    padding-left: 1.3rem;
  }
}
@media (max-width: 420px) {
  .chronicle {
    margin-bottom: 28.095vw;
  }
  .chronicle__main-title {
    margin-bottom: 10.476vw;
    font-size: 9.524vw;
    -webkit-text-stroke-width: 0.238vw;
  }
  .chronicle__block {
    padding-top: 7.619vw;
    padding-bottom: 7.619vw;
    border-bottom: 0.238vw solid #DEDEDE;
  }
  .chronicle__block:first-of-type {
    border-top: 0.238vw solid #DEDEDE;
  }
  .chronicle__date {
    width: 65.476vw;
    font-size: 14.286vw;
    -webkit-text-stroke-width: 0.238vw;
  }
  .chronicle__hidden-wrap {
    margin-top: 6.19vw;
  }
  .chronicle__title {
    font-size: 5.714vw;
    line-height: 8.333vw;
  }
  .chronicle__desc {
    font-size: 4.286vw;
    line-height: 6.429vw;
  }
  .chronicle__item {
    font-size: 4.286vw;
    line-height: 6.429vw;
  }
  .chronicle__item:first-letter {
    padding-left: 5.476vw;
  }
  .chronicle__item::after {
    top: -0.714vw;
    left: 1.19vw;
    font-size: 2.381vw;
  }
  .chronicle__btn,
  .chronicle__more-btn {
    width: 15.952vw;
    height: 15.952vw;
    border: 0.714vw solid #FFFFFF;
  }
  .chronicle__icon-arrow {
    width: 8.333vw;
    height: 8.333vw;
  }
  .chronicle__btn-more-wrap {
    margin-top: 10vw;
    font-size: 4.286vw;
  }
  .chronicle__more-text {
    padding-left: 3.095vw;
  }
}
.team {
  margin-bottom: 25.8rem;
}
.team--bb {
  margin-bottom: 1.9rem;
  padding-bottom: 10.8rem;
  border-bottom: 0.1rem solid #CAD2DF;
}
.team__title {
  font-weight: 700;
  font-size: 5rem;
}
.team__title--stroke {
  font-weight: 800;
  font-size: 9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.team__img-wrap {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 2.3rem;
}
.team__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.team__person-wrap {
  margin-left: 3.2rem;
}
.team__name {
  position: relative;
  margin-bottom: 2.3rem;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;
}
.team__name::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -2rem;
  left: -3.2rem;
  width: 7rem;
  height: 7rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
}
.team__post {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
@media (max-width: 760px) {
  .team {
    margin-bottom: 16.3rem;
  }
  .team--bb {
    margin-bottom: 8rem;
    padding-bottom: 0;
    border-bottom: none;
  }
  .team__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .team__title--stroke {
    font-size: 6rem;
    line-height: 8.8rem;
  }
  .team__img-wrap {
    max-width: 16.2rem;
    max-height: 16.2rem;
    margin-bottom: 1.1rem;
  }
  .team__person-wrap {
    margin-left: 2.3rem;
  }
  .team__name {
    margin-bottom: 1.4rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .team__name::before {
    top: -1rem;
    left: -1.7rem;
    width: 3.8rem;
    height: 3.8rem;
  }
  .team__post {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
.progress {
  margin-bottom: 14.3rem;
}
.progress__column-wrap {
  display: flex;
  justify-content: space-between;
}
.progress__column-left {
  max-width: 726px;
}
.progress__img-wrap {
  margin: 0;
  width: 72.6rem;
  height: 72.6rem;
}
.progress__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.progress__column-right {
  max-width: 660px;
}
.progress__title {
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 6.5rem;
}
.progress__desc {
  margin-bottom: 4.2rem;
  font-weight: 700;
  font-size: 1.8rem;
}
.progress__link-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7.2rem;
  padding-left: 2.4rem;
}
.progress__link-item {
  margin-right: 6.9rem;
}
.progress__link-item:last-child {
  margin-right: 0;
}
.progress__item {
  margin-bottom: 3.2rem;
}
.progress__chart-title {
  position: relative;
  margin-bottom: 0.7rem;
  padding-left: 3.4rem;
  font-weight: 700;
  font-size: 2.5rem;
}
.progress__chart-title::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.progress__chart-title--deep-blue::before {
  background-color: #5466F6;
}
.progress__chart-title--blue::before {
  background-color: #62C4FA;
}
.progress__chart-title--green::before {
  background-color: #8DC662;
}
.progress__chart-title--orange::before {
  background-color: #F4B059;
}
.progress__chart-title--red::before {
  background-color: #EA6646;
}
.progress__chart-desc {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
@media (max-width: 760px) {
  .progress {
    margin-bottom: 9rem;
  }
  .progress__column-wrap {
    flex-direction: column-reverse;
  }
  .progress__img-wrap {
    margin: 0;
    width: 100%;
    height: 42rem;
  }
  .progress__title {
    margin-bottom: 2.6rem;
    font-size: 3.5rem;
  }
  .progress__link-list {
    justify-content: space-between;
  }
  .progress__link-item:nth-child(2n+1) {
    margin-right: 0;
  }
  .progress__link {
    font-size: 1.3rem;
  }
  .progress__link::before {
    top: -1.2rem;
    left: -2.2rem;
    width: 5.2rem;
    height: 5.2rem;
  }
  .progress__icon-arrow {
    width: 3.8rem;
    height: 3.8rem;
  }
}
.useful-articles {
  position: relative;
  margin-top: 15rem;
  margin-bottom: 11.7rem;
}
.useful-articles__slogan {
  margin-bottom: 8.3rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.useful-articles__title {
  position: absolute;
  z-index: 1;
  top: 0.4rem;
  right: 0;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 9rem;
  line-height: 10rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.05em;
}
.useful-articles__title-item:first-child {
  margin-right: 0.8rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.useful-articles__title-item:last-child {
  margin-right: 15.2rem;
}
.useful-articles__wrap {
  display: flex;
  justify-content: space-between;
}
.useful-articles__img-wrap {
  width: 82.1rem;
  height: 34.6rem;
}
.useful-articles__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.useful-article__text-wrap {
  max-width: 37.5rem;
  margin-top: auto;
  margin-right: 1.4rem;
  margin-bottom: 6.9rem;
}
.useful-article__desc {
  font-size: 2rem;
  line-height: 2.9rem;
  text-align: right;
  color: #808080;
}
@media (max-width: 760px) {
  .useful-articles {
    margin-top: 1.5rem;
    margin-bottom: 10.2rem;
  }
  .useful-articles__slogan {
    margin-bottom: 2.5rem;
  }
  .useful-articles__title {
    position: relative;
    top: 0;
    margin-bottom: 2.4rem;
    font-size: 4rem;
    line-height: 5.9rem;
    text-align: left;
  }
  .useful-articles__title-item:first-child {
    margin-right: 0;
    letter-spacing: normal;
    -webkit-text-stroke-width: 0.1rem;
  }
  .useful-articles__title-item:last-child {
    margin-right: 0;
  }
  .useful-articles__wrap {
    flex-direction: column;
  }
  .useful-articles__img-wrap {
    width: auto;
    height: 26.5rem;
    margin-bottom: 2.8rem;
  }
  .useful-article__text-wrap {
    max-width: none;
    margin-right: 0;
    margin-bottom: 0;
  }
  .useful-article__desc {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
.feedback__title {
  margin-top: 1.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 5rem;
}
.feedback__form {
  display: flex;
  flex-direction: column;
}
.feedback__label {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;
}
.feedback__input {
  width: 46.5rem;
  margin-bottom: 1.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid #DEDEDE;
}
.feedback__input::-webkit-input-placeholder {
  opacity: 1;
}
.feedback__input::-moz-placeholder {
  opacity: 1;
}
.feedback__input:-ms-input-placeholder {
  opacity: 1;
}
.feedback__input::-ms-input-placeholder {
  opacity: 1;
}
.feedback__input::placeholder {
  opacity: 1;
}
.feedback__submit {
  margin-top: 4.9rem;
  margin-left: 4.5rem;
}
.feedback__submit::before {
  left: -4.7rem;
}
@media (max-width: 760px) {
  .feedback__title {
    margin-top: 0;
    margin-bottom: 3.1rem;
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .feedback__input {
    width: 100%;
  }
  .feedback__submit {
    margin-top: 2.8rem;
    margin-left: 4.9rem;
  }
}
/*swipers*/
.swiper-arrows-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 13.8rem;
  height: 6rem;
}
.swiper-arrows-text-wrap .swiper-button-prev,
.swiper-arrows-text-wrap .swiper-button-next {
  width: 11.5rem;
}
.swiper-arrows-text-wrap .swiper-arrow-next {
  margin-left: 1.5rem;
}
.swiper-arrows-text-wrap .swiper-arrow-prev {
  margin-right: 1.5rem;
}
.swiper-button-prev,
.swiper-button-next {
  width: 5rem;
  height: 5rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #000;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0;
}
.swiper-icon-arrow {
  width: 5rem;
  height: 5rem;
}
.hidden.swiper-pagination-current-zero {
  display: none;
}
@media (max-width: 420px) {
  .swiper-arrows-wrap {
    width: 13.8rem;
    height: 6rem;
  }
  .swiper-arrows-text-wrap .swiper-button-prev,
  .swiper-arrows-text-wrap .swiper-button-next {
    width: 11.5rem;
  }
  .swiper-arrows-text-wrap .swiper-arrow-next {
    margin-left: 1.5rem;
  }
  .swiper-arrows-text-wrap .swiper-arrow-prev {
    margin-right: 1.5rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 5rem;
    height: 5rem;
    font-size: 1.8rem;
  }
  .swiper-icon-arrow {
    width: 5rem;
    height: 5rem;
  }
}
.main-swiper {
  counter-reset: mainSwiperCurrent;
  margin-top: 10rem;
  margin-bottom: 16rem;
}
.main-swiper__subtitle-wrap {
  margin-left: 11.8rem;
  margin-bottom: 2.6rem;
}
.main-swiper__pagination {
  top: 0.3rem;
  bottom: auto;
  left: 50%;
  transform: translateX(-722px);
  font-weight: 700;
  font-size: 1.8rem;
}
.main-swiper__pagination.swiper-pagination {
  width: 8rem;
}
.main-swiper__subtitle::after {
  right: -37.4rem;
  width: 36.7rem;
}
.main-swiper__text-wrap {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  min-height: 15.4rem;
  margin-left: 11.8rem;
  margin-bottom: 4rem;
}
.main-swiper__title {
  margin-bottom: 2.7rem;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
}
.main-swiper__desc {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.main-swiper__img-block {
  position: relative;
  max-width: 1920px;
  height: 52.3rem;
  margin-left: auto;
  margin-right: auto;
}
.main-swiper__img-block::before {
  counter-increment: mainSwiperCurrent;
  content: counter(mainSwiperCurrent, decimal-leading-zero);
  position: absolute;
  top: -15.3rem;
  left: 4rem;
  font-weight: 800;
  font-size: 30.2rem;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.main-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-swiper__arrows-wrap {
  top: 9.5rem;
  right: 50%;
  transform: translateX(70.5rem);
}
@media (max-width: 1920px) {
  .main-swiper__arrows-wrap {
    right: 25.5rem;
    transform: none;
  }
}
@media (max-width: 1750px) {
  .main-swiper__img-block::before {
    left: 1rem;
    font-size: 26.2rem;
  }
}
@media (max-width: 1620px) {
  .main-swiper__img-block::before {
    font-size: 20.2rem;
  }
}
@media (max-width: 1540px) {
  .main-swiper__img-block::before {
    content: '';
  }
  .main-swiper__arrows-wrap {
    right: auto;
    left: 9rem;
  }
  .main-swiper__pagination {
    transform: none;
    left: 10rem;
  }
}
@media (max-width: 900px) {
  .main-swiper__arrows-wrap,
  .main-swiper__pagination {
    left: 0;
  }
}
@media (max-width: 760px) {
  .main-swiper {
    margin-top: 0;
    margin-bottom: 16.5rem;
  }
  .main-swiper__pagination {
    display: none;
  }
  .main-swiper__subtitle-wrap {
    position: relative;
    margin-bottom: 0;
    top: 4rem;
    max-width: 26rem;
    margin-left: 0;
  }
  .main-swiper__subtitle::after {
    bottom: 0.9rem;
    right: -15.9rem;
    height: 0.3rem;
    width: 13.5rem;
  }
  .main-swiper__arrows-wrap {
    width: 12.4rem;
    top: -0.4rem;
    right: 1.8rem;
    left: auto;
  }
  .main-swiper__button-next,
  .main-swiper__button-prev {
    width: 4.2rem;
  }
  .main-swiper__container {
    padding-top: 8rem;
  }
  .main-swiper__text-wrap {
    min-height: 0;
    margin-left: 0;
    margin-bottom: 3.8rem;
  }
  .main-swiper__title {
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .main-swiper__img-block {
    height: 21.2rem;
    margin-right: 2.8rem;
    margin-bottom: 4.5rem;
  }
  .main-swiper__img-block::before {
    content: none;
  }
  .main-swiper__desc {
    position: relative;
    max-width: 24rem;
    margin-left: 13.4rem;
    margin-bottom: 2rem;
  }
  .main-swiper__desc::before {
    counter-increment: mainSwiperCurrent;
    content: counter(mainSwiperCurrent, decimal-leading-zero);
    position: absolute;
    top: 1.9rem;
    left: -12rem;
    font-weight: 800;
    font-size: 10rem;
    color: transparent;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #1c1818;
  }
}
.projects-swiper {
  position: relative;
  margin-bottom: 18.5rem;
}
.projects-swiper__main-title {
  position: relative;
  z-index: 2;
  top: 9.8rem;
  max-width: 950px;
  font-weight: 800;
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.projects-swiper__main-title--stroke-black {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.projects-swiper__container {
  padding-top: 20.5rem;
}
.projects-swiper__link {
  width: auto;
  margin-bottom: 0;
}
.projects-swiper__arrows-wrap {
  top: 2rem;
}
@media (max-width: 760px) {
  .projects-swiper {
    position: relative;
    margin-bottom: 17.7rem;
  }
  .projects-swiper__container {
    padding-bottom: 9rem;
  }
  .projects-swiper__arrows-wrap {
    top: auto;
    right: 50%;
    bottom: 0px;
    transform: translateX(50%);
  }
  .projects-swiper__main-title {
    top: 0;
    margin-bottom: 0.3rem;
    font-size: 5rem;
    line-height: 6rem;
  }
  .projects-swiper__container {
    padding-top: 5.2rem;
    padding-bottom: 8.5rem;
  }
}
.two-articles-swiper {
  margin-bottom: 23rem;
}
.two-articles-swiper__main-title-wrap {
  display: flex;
  position: relative;
  z-index: 2;
  top: 9rem;
  max-width: 120rem;
}
.two-articles-swiper__main-title {
  margin-right: 1.5rem;
  font-weight: 800;
  font-size: 9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.two-articles-swiper__container {
  padding-top: 17.1rem;
}
.two-articles-swiper__item {
  display: flex;
  flex-direction: column;
  max-width: 64.7rem;
  min-height: 47.2rem;
}
.two-articles-swiper__title {
  margin-bottom: 1.9rem;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
}
.two-articles-swiper__desc {
  max-width: 585px;
  font-size: 2rem;
  line-height: 2.9rem;
}
.two-articles-swiper__desc:last-of-type {
  margin-bottom: 2.7rem;
}
.two-articles-swiper__img-wrap {
  margin-bottom: 2.7rem;
  height: 27rem;
}
.two-articles-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.two-articles-swiper__datetime {
  margin-top: auto;
  font-weight: 700;
  font-size: 1.8rem;
}
.two-articles-swiper__arrows-wrap {
  top: 0.6rem;
}
@media (max-width: 760px) {
  .two-articles-swiper {
    margin-bottom: 15.7rem;
  }
  .two-articles-swiper__main-title-wrap {
    top: 0px;
    display: flex;
    flex-direction: column;
    max-width: none;
    margin-bottom: 3.8rem;
  }
  .two-articles-swiper__main-title {
    margin-right: 0;
    font-size: 5rem;
    line-height: 7rem;
  }
  .two-articles-swiper__container {
    padding-top: 0;
    padding-bottom: 9rem;
  }
  .two-articles-swiper__item {
    min-height: 0;
    max-width: none;
  }
  .two-articles-swiper__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 4.4rem;
  }
  .two-articles-swiper__desc {
    max-width: none;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .two-articles-swiper__desc:last-of-type {
    margin-bottom: 2.2rem;
  }
  .two-articles-swiper__img-wrap {
    margin-right: 1rem;
    margin-bottom: 2.8rem;
    height: 19.5rem;
  }
  .two-articles-swiper__arrows-wrap {
    top: auto;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
  }
}
.reviews-swiper {
  margin-bottom: 20rem;
}
.reviews-swiper__container {
  padding-top: 1rem;
}
.reviews-swiper__pagination {
  top: 0.3rem;
  bottom: auto;
  left: 36.3%;
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}
.reviews-swiper__pagination.swiper-pagination {
  width: 12.5rem;
}
.reviews-swiper__pagination .swiper-pagination-current-zero,
.reviews-swiper__pagination .swiper-pagination-current {
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #808080;
}
.reviews-swiper__button-next,
.reviews-swiper__button-prev {
  top: 44%;
}
.reviews-swiper__main-title-wrap {
  display: inline-flex;
  margin-left: 22.9rem;
  margin-bottom: 5rem;
}
.reviews-swiper__main-title {
  margin-right: 1.5rem;
  font-weight: 800;
  font-size: 9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.reviews-swiper__blockquote {
  display: flex;
  max-width: 864px;
  margin: 0;
  margin-left: 23.5rem;
}
.reviews-swiper__img-wrap {
  max-width: 25.5rem;
  height: 25.5rem;
}
.reviews-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-swiper__text-wrap {
  width: 57rem;
  margin-left: 3.9rem;
  padding-top: 11rem;
}
.reviews-swiper__author-name {
  display: inline-block;
  margin-bottom: 2.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
}
.reviews-swiper__author-text {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
@media (max-width: 900px) {
  .reviews-swiper__blockquote {
    flex-direction: column;
  }
}
@media (max-width: 760px) {
  .reviews-swiper {
    margin-bottom: 10.5rem;
  }
  .reviews-swiper__container {
    padding-top: 0;
    padding-bottom: 9rem;
  }
  .reviews-swiper__pagination {
    top: 14.8rem;
    left: auto;
    right: 5.5rem;
    font-size: 1.8rem;
  }
  .reviews-swiper__pagination.swiper-pagination {
    width: 12.5rem;
  }
  .reviews-swiper__pagination .swiper-pagination-current-zero,
  .reviews-swiper__pagination .swiper-pagination-current {
    font-size: 5rem;
    -webkit-text-stroke-width: 0.2rem;
  }
  .reviews-swiper__button-next,
  .reviews-swiper__button-prev {
    font-size: 0;
  }
  .reviews-swiper__main-title-wrap {
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 2.2rem;
  }
  .reviews-swiper__main-title {
    margin-right: 0;
    margin-bottom: 0;
    font-size: 5rem;
  }
  .reviews-swiper__blockquote {
    flex-direction: column;
    margin-left: 0;
  }
  .reviews-swiper__img-wrap {
    max-width: 19.1rem;
    height: 19.1rem;
    margin-bottom: 4rem;
  }
  .reviews-swiper__text-wrap {
    width: auto;
    margin-left: 0;
    padding-top: 0;
  }
  .reviews-swiper__author-name {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
  }
  .reviews-swiper__author-text {
    margin-left: 4rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .reviews-swiper__btn-link {
    margin-left: 2rem;
  }
  .reviews-swiper__arrows-wrap {
    position: absolute;
    top: auto;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
  }
}
.gallery-swiper {
  margin-bottom: 12.5rem;
}
.gallery-swiper__img-wrap {
  width: 100%;
  height: 45.5rem;
}
.gallery-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-swiper__container {
  position: relative;
  padding-bottom: 10rem;
}
.gallery-swiper__arrows-wrap {
  position: absolute;
  top: auto;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
}
@media (max-width: 760px) {
  .gallery-swiper__img-wrap {
    height: 24.9rem;
  }
  .gallery-swiper__container {
    padding-bottom: 7rem;
  }
  .gallery-swiper__arrows-wrap {
    bottom: 0;
  }
}
.team-swiper__title {
  position: relative;
  z-index: 2;
  top: 8.4rem;
  max-width: 950px;
}
.team-swiper__container {
  padding-top: 11.5rem;
}
@media (max-width: 760px) {
  .team-swiper__title {
    z-index: 0;
    top: 0;
  }
  .team-swiper__container {
    padding-top: 7.5rem;
  }
  .team-swiper__arrows-wrap {
    right: auto;
    left: 0;
    width: 11rem;
  }
  .team-swiper__button-next,
  .team-swiper__button-prev,
  .team-swiper__arrow-next,
  .team-swiper__arrow-prev {
    width: 4rem;
    height: 4rem;
  }
}
.footer {
  padding-top: 11.1rem;
  padding-bottom: 2.5rem;
  background-color: #FAFAFB;
}
.footer__column-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem;
}
.footer__list {
  margin-bottom: 3.3rem;
}
.footer__item {
  margin-bottom: 0.7rem;
  font-size: 1.8rem;
}
.footer__item--bold {
  font-weight: 700;
}
.footer__column-center {
  max-width: 200px;
  margin-right: 7.9rem;
  padding-top: 3rem;
  text-align: center;
}
.footer__logo {
  flex-direction: column;
  margin-bottom: 2.1rem;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 700;
}
.footer__contacts-list {
  margin-bottom: 2.7rem;
}
.footer__contacts-item {
  margin-bottom: 2rem;
}
.footer__contacts-item:last-child {
  margin-bottom: 0px;
}
.footer__contacts-link {
  margin-top: 0.3rem;
  font-size: 2.5rem;
}
.footer__social-links {
  display: flex;
  justify-content: center;
}
.footer__column-right {
  text-align: right;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright-text {
  font-size: 1.8rem;
  color: #808080;
}
@media (max-width: 760px) {
  .footer {
    padding-top: 5.9rem;
    padding-bottom: 2.5rem;
  }
  .footer__column-wrap {
    flex-wrap: wrap;
    margin-bottom: 4.1rem;
  }
  .footer__column-left,
  .footer__column-right {
    width: 50%;
  }
  .footer__contacts-list {
    margin-bottom: 2.7rem;
  }
  .footer__item {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
  }
  .footer__contacts-link {
    margin-top: 0.3rem;
    font-size: 2.5rem;
  }
  .footer__column-center {
    order: 1;
    max-width: 31rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
  }
  .footer__copyright-logo {
    width: 2rem;
    height: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
