@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe"), local("Circe Regular"), local("Circe-Regular"), url("../fonts/Circe/regular/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe/regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe/regular/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/bold/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe/bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe/bold/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Circe;
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe/extrabold/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe/extrabold/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/extrabold/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: Charter;
  src: local("Charter"), local("Charter Regular"), local("Charter-Regular"), url("../fonts/Charter/regular/Charter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #E5E5E5;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #000;
}
input,
button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Circe', 'Arial', sans-serif;
}
.grid {
  display: grid;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.active {
  display: block;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container-outside {
  max-width: 1510px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.hidden-mobile-block {
  display: none;
}
.warning__input:-moz-ui-invalid,
.phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
.subtitle {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}
.subtitle::after {
  content: '';
  position: absolute;
  bottom: 6px;
  height: 2px;
  background-color: #000;
}
.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.link--circle::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -17px;
  left: -30px;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.stroke {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #353535;
}
.stroke--white {
  -webkit-text-stroke-color: #fff;
}
.icon-arrow-right {
  padding-left: 11px;
}
.mt100 {
  margin-top: 100px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb70 {
  margin-bottom: 68px;
}
.mb160 {
  margin-bottom: 160px;
}
.mb185 {
  margin-bottom: 185px;
}
.mb200 {
  margin-bottom: 200px;
}
.mb230 {
  margin-bottom: 230px;
}
@media (max-width: 755px) {
}
@media (min-width: 1921px) {
}
.o {
  outline: 1px solid red;
}
.b {
  border: 1px solid red;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*header*/
.header__block-top {
  background-color: #F8F9FA;
}
.header__block-bottom {
  background-color: #3A3A3A;
}
.header__content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 19px;
}
.header__logo {
  margin-left: -5px;
}
.header__search {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 826px;
  width: 59.1%;
}
.logo {
  display: flex;
  align-items: center;
  font-family: 'Charter', 'Times New Roman', serif;
  font-weight: 400;
}
.logo__img-wrap {
  width: 82px;
  height: 70px;
}
.logo__img-wrap--big {
  width: 144px;
  height: 122px;
  margin-bottom: 12px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo__img--position {
  -o-object-position: -5px;
     object-position: -5px;
}
.logo__text-wrap {
  width: 185px;
}
.logo__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.logo__text-item {
  display: block;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
}
.footer__copyright-logo {
  width: 20px;
  height: 20px;
  fill: #808080;
}
.social-links__list {
  display: flex;
}
.social-links__item {
  margin-left: 10px;
  border-radius: 50%;
}
.social-links__item:first-child {
  margin-left: 0;
}
.social-links__icon {
  width: 29px;
  height: 29px;
  fill: #5C5C5C;
  transition: 0.5s;
}
.icon-youtube:hover {
  fill: #FF0000;
}
.icon-twitter:hover {
  fill: #299CFE;
}
.icon-facebook:hover {
  fill: #3A5898;
}
.icon-instagram:hover {
  fill: url(#icon-instagram-color);
}
.search__form {
  position: relative;
}
.search__input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 45px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  color: #777;
}
.search__icon {
  position: absolute;
  top: 10px;
  right: 17px;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
}
.nav__list-link {
  display: flex;
  flex-wrap: wrap;
  max-width: 1175px;
}
.nav__item {
  margin-right: 39px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  padding-top: 14px;
  padding-bottom: 12px;
  color: #fff;
}
.nav__form-lang {
  display: flex;
  position: relative;
}
.nav__form-lang::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  border: 7px solid #ffffff;
  border-top-color: #ffffff;
  border-bottom-width: 0px;
  border-right-color: transparent;
  border-left-color: transparent;
  cursor: pointer;
}
.nav__select-lang {
  padding-right: 20px;
  font-family: 'Circe', 'Arial', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
/*main*/
.link-sections__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-sections__item {
  margin-bottom: 100px;
}
.link-sections__item:nth-child(odd) {
  margin-left: 5px;
}
.link-sections__item:nth-child(even) {
  margin-left: 5px;
}
.link-sections__title {
  margin-bottom: 34px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.link-sections__img-wrap {
  width: 647px;
  height: 270px;
  margin-bottom: 32px;
}
.link-sections__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.link-sections__desc {
  max-width: 440px;
  margin-bottom: 45px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
  line-height: 35px;
}
.link-sections__btn-link {
  margin-left: 60px;
}
@media (max-width: 1342px) {
  .link-sections__list {
    justify-content: space-around;
  }
}
.slogan {
  box-sizing: border-box;
  position: relative;
  max-width: 1920px;
  min-height: 643px;
  margin-left: auto;
  margin-right: auto;
}
.slogan__bg-img-wrap {
  position: absolute;
  z-index: -1;
  max-width: 1920px;
  height: 643px;
}
.slogan__bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slogan__content-wrap {
  padding-top: 71px;
}
.slogan__intro-slogan,
.slogan__subtitle,
.slogan__title,
.slogan__link {
  color: #fff;
}
.slogan__intro-slogan {
  margin-bottom: 26px;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}
.slogan__subtitle {
  margin-bottom: 65px;
}
.slogan__subtitle::after {
  width: 217px;
  right: -231px;
  background-color: #fff;
}
.slogan__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 300px;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 85px;
  line-height: 100px;
  text-transform: uppercase;
}
.slogan__title--fz110 {
  font-size: 110px;
  line-height: 120px;
}
.slogan__title-item--end {
  align-self: flex-end;
}
.slogan__title-item--ml80 {
  margin-left: 80px;
}
.slogan__title-item--ml175 {
  margin-left: 175px;
}
.slogan__title-item--ml270 {
  margin-left: 270px;
}
.slogan__link {
  font-size: 22px;
}
.slogan__icon-arrow {
  fill: #fff;
}
@media (max-width: 1500px) {
  .slogan__intro-slogan {
    font-size: 18px;
  }
  .slogan__subtitle::after {
    width: 150px;
    right: -164px;
  }
  .slogan__title {
    min-height: 0;
    font-size: 65px;
    line-height: 80px;
  }
  .slogan__title-item--end {
    align-self: flex-start;
  }
  .slogan__title-item--ml80,
  .slogan__title-item--ml175,
  .slogan__title-item--ml270 {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .slogan__title {
    font-size: 45px;
    line-height: 60px;
  }
}
.projects__item {
  position: relative;
  margin-left: 8px;
  padding-left: 40px;
}
.projects__item::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -6px;
  width: 336px;
  height: 365px;
  border: 3px solid #fff;
}
.projects__subtitle {
  margin-bottom: 20px;
}
.projects__subtitle::after {
  right: -229px;
  width: 217px;
}
.projects__title {
  max-width: 425px;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.projects__btn-link {
  margin-bottom: 30px;
}
.projects__img-wrap {
  height: 350px;
}
.projects__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*swipers*/
.swiper-arrows-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 138px;
  height: 60px;
}
.swiper-arrows-text-wrap .swiper-button-prev,
.swiper-arrows-text-wrap .swiper-button-next {
  width: 115px;
}
.swiper-arrows-text-wrap .swiper-arrow-next {
  margin-left: 15px;
}
.swiper-arrows-text-wrap .swiper-arrow-prev {
  margin-right: 15px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0;
}
.swiper-icon-arrow {
  width: 50px;
  height: 50px;
}
.hidden.swiper-pagination-current-zero {
  display: none;
}
.main-swiper {
  counter-reset: imgCount;
}
.main-swiper__subtitle-wrap {
  margin-left: 118px;
  margin-bottom: 26px;
}
.main-swiper__pagination {
  top: 3px;
  bottom: auto;
  left: 50%;
  transform: translateX(-722px);
  font-weight: 700;
  font-size: 18px;
}
.main-swiper__pagination.swiper-pagination {
  width: 80px;
}
.main-swiper__subtitle::after {
  right: -374px;
  width: 367px;
}
.main-swiper__text-wrap {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  min-height: 154px;
  margin-left: 118px;
  margin-bottom: 40px;
}
.main-swiper__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.main-swiper__desc {
  font-size: 18px;
  line-height: 27px;
}
.main-swiper__img-block {
  position: relative;
  max-width: 1920px;
  height: 523px;
  margin-left: auto;
  margin-right: auto;
}
.main-swiper__img-block::before {
  counter-increment: imgCount;
  content: counter(imgCount, decimal-leading-zero);
  position: absolute;
  top: -153px;
  left: 40px;
  font-weight: 800;
  font-size: 302px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.main-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-swiper__arrows-wrap {
  top: 95px;
  right: 50%;
  transform: translateX(705px);
}
@media (max-width: 1920px) {
  .main-swiper__arrows-wrap {
    right: 255px;
    transform: none;
  }
}
@media (max-width: 1810px) {
  .main-swiper__arrows-wrap {
    right: 80px;
  }
}
@media (max-width: 1450px) {
  .main-swiper__pagination {
    transform: translateX(-49.792vw);
  }
  .main-swiper__arrows-wrap {
    top: 50px;
    right: auto;
    left: 0;
  }
  .main-swiper__img-block::before {
    top: -90px;
    left: 10px;
    font-size: 130px;
  }
}
@media (max-width: 1020px) {
}
.projects-swiper {
  position: relative;
}
.projects-swiper__main-title {
  position: relative;
  z-index: 2;
  top: 98px;
  max-width: 920px;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
}
.projects-swiper__container {
  padding-top: 205px;
}
.projects-swiper__link {
  width: auto;
  margin-bottom: 0px;
}
.projects-swiper__arrows-wrap {
  top: 20px;
}
@media (max-width: 1110px) {
  .projects-swiper__container {
    padding-bottom: 90px;
  }
  .projects-swiper__arrows-wrap {
    top: auto;
    right: 50%;
    bottom: 0px;
    transform: translateX(50%);
  }
}
.two-articles-swiper__main-title-wrap {
  display: flex;
  position: relative;
  z-index: 2;
  top: 90px;
  max-width: 940px;
}
.two-articles-swiper__main-title {
  margin-right: 15px;
  font-weight: 800;
  font-size: 90px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.two-articles-swiper__container {
  padding-top: 171px;
}
.two-articles-swiper__item {
  display: flex;
  flex-direction: column;
  max-width: 647px;
  min-height: 472px;
}
.two-articles-swiper__title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}
.two-articles-swiper__desc {
  max-width: 585px;
  font-size: 20px;
  line-height: 29px;
}
.two-articles-swiper__desc:last-of-type {
  margin-bottom: 27px;
}
.two-articles-swiper__img-wrap {
  margin-bottom: 27px;
  height: 270px;
}
.two-articles-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.two-articles-swiper__datetime {
  margin-top: auto;
  font-weight: 700;
  font-size: 18px;
}
.two-articles-swiper__arrows-wrap {
  top: 6px;
}
@media (max-width: 1110px) {
  .two-articles-swiper__item,
  .two-articles-swiper__desc {
    max-width: none;
  }
  .two-articles-swiper__item {
    min-height: 0;
  }
  .two-articles-swiper__container {
    padding-bottom: 90px;
  }
  .two-articles-swiper__arrows-wrap {
    top: auto;
    right: 50%;
    bottom: 0px;
    transform: translateX(50%);
  }
}
.reviews-swiper__container {
  padding-top: 10px;
}
.reviews-swiper__pagination {
  top: 3px;
  bottom: auto;
  left: 36.3%;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.reviews-swiper__pagination.swiper-pagination {
  width: 125px;
}
.reviews-swiper__pagination .swiper-pagination-current-zero,
.reviews-swiper__pagination .swiper-pagination-current {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #808080;
}
.reviews-swiper__button-next,
.reviews-swiper__button-prev {
  top: 44%;
}
.reviews-swiper__main-title-wrap {
  display: inline-flex;
  margin-left: 229px;
  margin-bottom: 50px;
}
.reviews-swiper__main-title {
  margin-right: 15px;
  font-weight: 800;
  font-size: 90px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.reviews-swiper__blockquote {
  display: flex;
  justify-content: space-between;
  max-width: 864px;
  margin: 0;
  margin-left: 235px;
}
.reviews-swiper__img-wrap {
  max-width: 255px;
  height: 255px;
}
.reviews-swiper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-swiper__text-wrap {
  max-width: 570px;
  padding-top: 110px;
}
.reviews-swiper__author-name {
  display: inline-block;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.reviews-swiper__author-text {
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 1440px) {
  .reviews-swiper__pagination {
    left: auto;
    right: 270px;
  }
}
@media (max-width: 1270px) {
  .reviews-swiper__main-title-wrap {
    margin-left: 0px;
  }
  .reviews-swiper__blockquote {
    flex-direction: column;
  }
  .reviews-swiper__text-wrap {
    padding-top: 20px;
  }
  .reviews-swiper__arrows-wrap {
    position: absolute;
    top: 40px;
    bottom: auto;
    width: 200px;
  }
  .reviews-swiper__button-next,
  .reviews-swiper__button-prev {
    font-size: 0;
  }
  .reviews-swiper__pagination {
    top: 20px;
    right: 50px;
  }
}
.footer {
  padding-top: 111px;
  padding-bottom: 25px;
  background-color: #FAFAFB;
}
.footer__column-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
.footer__list {
  margin-bottom: 33px;
}
.footer__item {
  margin-bottom: 6.5px;
  font-size: 18px;
}
.footer__item--bold {
  font-weight: 700;
}
.footer__column-center {
  max-width: 200px;
  padding-top: 30px;
  text-align: center;
}
.footer__logo {
  flex-direction: column;
  margin-bottom: 21px;
  font-family: 'Circe', 'Arial', sans-serif;
  font-weight: 700;
}
.footer__contacts-list {
  margin-bottom: 27px;
}
.footer__contacts-item {
  margin-bottom: 20px;
}
.footer__contacts-item:last-child {
  margin-bottom: 0px;
}
.footer__contacts-link {
  margin-top: 3px;
  font-size: 25px;
}
.footer__social-links {
  display: flex;
  justify-content: center;
}
.footer__column-right {
  text-align: right;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright-text {
  padding-left: 70px;
  font-size: 18px;
  color: #808080;
}

/*# sourceMappingURL=style.css.map */
