.mt100 {
  margin-top: 10rem;
}

.mb30 {
  margin-bottom: 0.3rem;
}

.mb70 {
  margin-bottom: 6.8rem;
}

.mb110 {
  margin-bottom: 11rem;
}

.mb160 {
  margin-bottom: 16rem;
}

.mb185 {
  margin-bottom: 18.5rem;
}

.mb200 {
  margin-bottom: 20rem;
}

.mb230 {
  margin-bottom: 23rem;
}

// @media (max-width: 750px) {
//   // .mt100 {
//   //   margin-top: 100px;
//   // }

//   .mb30 {
//     margin-bottom: 135px;
//   }

//   .mb70 {
//     margin-bottom: 144px;
//   }

//   .mb160 {
//     margin-bottom: 165px;
//   }

//   .mb185 {
//     margin-bottom: 178px;
//   }

//   .mb200 {
//     margin-bottom: 135px;
//   }

//   .mb230 {
//     margin-bottom: 123px;
//   }
// }