.projects-swiper {
  position: relative;
}

.projects-swiper__main-title {
  position: relative;
  z-index: 2;
  top: 98px;
  // max-width: 870px;
  max-width: 920px;

  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  &--stroke {
    // color: transparent;
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: #353535;
  }
}

.projects-swiper__container {
  padding-top: 205px;
}

.projects-swiper__link {
  width: @a;
  margin-bottom: 0px;
}

.projects-swiper__arrows-wrap {
  top: 20px;
}

@media (max-width: 1110px) {
  .projects-swiper__container {
    padding-bottom: 90px;
  }

  .projects-swiper__arrows-wrap {
    top: @a;
    right: 50%;
    bottom: 0px;
    transform: translateX(50%);
  }
}