.team {
  margin-bottom: 25.8rem;
  &--bb {
    margin-bottom: 1.9rem;
    padding-bottom: 10.8rem;
    border-bottom: 0.1rem solid #CAD2DF;
  }
}

.team__title {
  font-weight: 700;
  font-size: 5rem;
  &--stroke {
    font-weight: 800;
    font-size: 9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.team__item {
}

.team__img-wrap {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 2.3rem;
}

.team__img {
  .img-cover;
  border-radius: 50%;
}

.team__person-wrap {
  margin-left: 3.2rem;
}

.team__name {
  position: relative;

  margin-bottom: 2.3rem;
  
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: -3.2rem;
    
    width: 7rem;
    height: 7rem;
    border: 0.3rem solid #fff;
    border-radius: 50%;
  }
}

.team__post {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

@media (max-width: @tablet-width) {
  .team {
    margin-bottom: 16.3rem;
    &--bb {
      margin-bottom: 8rem;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .team__title {
    font-size: 3rem;
    line-height: 3.5rem;
    &--stroke {
      font-size: 6rem;
      line-height: 8.8rem;
    }
  }

  .team__img-wrap {
    max-width: 16.2rem;
    max-height: 16.2rem;
    margin-bottom: 1.1rem;
  }

  .team__person-wrap {
    margin-left: 2.3rem;
  }

  .team__name {
    margin-bottom: 1.4rem;
    font-size: 2rem;
    line-height: 2.5rem;

    &::before {
      top: -1rem;
      left: -1.7rem;
      
      width: 3.8rem;
      height: 3.8rem;
    }
  }

  .team__post {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

// @media (max-width: @mobile-width) {
//   .team {
//     margin-bottom: @m163px;
//     &--bb {
//       margin-bottom: @m80px;
//     }
//   }

//   .team__title {
//     font-size: @m30px;
//     line-height: @m35px;
//     &--stroke {
//       font-size: @m60px;
//       line-height: @m88px;
//     }
//   }

//   .team__img-wrap {
//     max-width: @m162px;
//     max-height: @m162px;
//     margin-bottom: @m11px;
//   }

//   .team__person-wrap {
//     margin-left: @m23px;
//   }

//   .team__name {
//     margin-bottom: @m14px;
//     font-size: @m20px;
//     line-height: @m25px;

//     &::before {
//       top: -@m10px;
//       left: -@m17px;
      
//       width: @m38px;
//       height: @m38px;
//       border: @m3px solid #fff;
//     }
//   }

//   .team__post {
//     font-size: @m15px;
//     line-height: @m22px;
//   }
// }