.chronicle {
  margin-bottom: 11.6rem;
}

.chronicle__title {
  margin-bottom: 1.7rem;

  font-weight: 700;
  font-size: 6.5rem;

  -webkit-text-stroke-width: 1px;
}

.chronicle__block {
  display: flex;

  padding-top: 5.5rem;
  padding-bottom: 4.9rem;

  border-bottom: 0.1rem solid #DEDEDE;

  &:first-of-type {
    border-top: 0.1rem solid #DEDEDE;
  }

}

.chronicle__date {
  width: 26rem;

  font-weight: 800;
  font-size: 7rem;
  letter-spacing: 0.05em;

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.chronicle__list {
  counter-reset: articleItem;

  width: 90rem;
  margin-left: 10.3rem;
  
  overflow: hidden;
  transition: height 500ms;
}

.chronicle__item {
  position: relative;

  font-size: 1.8rem;
  line-height: 2.7rem;

  &:first-letter {
    padding-left: 20px;
  }

  &::after {
    counter-increment: articleItem;
    content: counter(articleItem, decimal-leading-zero);
    
    position: absolute;
    top: -0.4rem;
    left: 2px;

    font-weight: 800;
    font-size: 10px;

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
  }
}

.chronicle__btn-wrap {
  align-self: center;
  margin-left: @a;
}

.chronicle__btn,
.chronicle__more-btn {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 8rem;

  border: 0.3rem solid #FFFFFF;
  border-radius: 50%;

  cursor: pointer;

  // transition: transform 0.3s;

  &.active {
    // transform: rotate(-180deg);
  }

  // &:disabled {
  //   .chronicle__icon-arrow {
  //     opacity: 0.2;
  //   }
  // }
}

.chronicle__icon-arrow {
  width: 4rem;
  height: 4rem;
  transform: rotate(-90deg);
  transition: transform 0.7s;
}

.active {
  .chronicle__icon-arrow {
    transform: rotate(-90deg) scale(-1);
  }
}

.chronicle__btn-more-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2.5rem;

  font-weight: 700;
  font-size: 1.8rem;

  cursor: pointer;
}

.chronicle__more-text {
  padding-left: 1.3rem;
}