.chronicle {
  margin-bottom: 11.6rem;
}

.chronicle__title {
  margin-bottom: 1.7rem;

  font-weight: 700;
  font-size: 6.5rem;

  -webkit-text-stroke-width: 1px;
}

.chronicle__block {
  display: flex;

  padding-top: 5.5rem;
  padding-bottom: 4.9rem;

  border-bottom: 0.1rem solid #DEDEDE;

  &:first-of-type {
    border-top: 0.1rem solid #DEDEDE;
  }

}

.chronicle__date {
  width: 26rem;

  font-weight: 800;
  font-size: 7rem;
  letter-spacing: 0.05em;

  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.chronicle__list {
  counter-reset: articleItem;

  width: 90rem;
  margin-left: 10.3rem;
  
  overflow: hidden;
  transition: all 500ms;
}

.chronicle__item {
  position: relative;

  font-size: 1.8rem;
  line-height: 2.7rem;

  &:first-letter {
    padding-left: 20px;
  }

  &::after {
    counter-increment: articleItem;
    content: counter(articleItem, decimal-leading-zero);
    
    position: absolute;
    top: -0.4rem;
    left: 2px;

    font-weight: 800;
    font-size: 10px;

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
  }
}

.chronicle__btn-wrap {
  align-self: center;
  margin-left: @a;
}

.chronicle__btn,
.chronicle__more-btn {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 8rem;

  border: 0.3rem solid #FFFFFF;
  border-radius: 50%;

  cursor: pointer;

  // transition: transform 0.3s;

  &.active {
    // transform: rotate(-180deg);
  }

  // &:disabled {
  //   .chronicle__icon-arrow {
  //     opacity: 0.2;
  //   }
  // }
}

.chronicle__icon-arrow {
  width: 4rem;
  height: 4rem;
  transform: rotate(-90deg);
  transition: transform 0.7s;
}

.active {
  .chronicle__icon-arrow {
    transform: rotate(-90deg) scale(-1);
  }
}

.chronicle__btn-more-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2.5rem;

  font-weight: 700;
  font-size: 1.8rem;

  cursor: pointer;
}

.chronicle__more-text {
  padding-left: 1.3rem;
}

@media (max-width: @tablet-width) {
  .chronicle {
    margin-bottom: 118px;
  }

  .chronicle__title {
    margin-bottom: 44px;
    font-size: 40px;
  }

  .chronicle__block {
    flex-wrap: wrap;

    padding-top: 32px;
    padding-bottom: 32px;
  }

  .chronicle__date {
    width: 230px;
    font-size: 60px;
  }

  .chronicle__list {
    width: @a;
    margin-top: 26px;
    margin-left: 0;
    order: 2;
    &.active {
      margin-top: 0;
    }
  }

  .chronicle__item {
    &:first-letter {
      padding-left: 23px;
    }
    &::after {
      top: -3px;
      left: 5px;
      font-size: 10px;
    }
  }

  .chronicle__btn,
  .chronicle__more-btn {
    width: 67px;
    height: 67px;
  }

  .chronicle__icon-arrow {
    width: 35px;
    height: 35px;
  }

  .chronicle__btn-more-wrap {
    margin-top: 42px;
  }
}

@media (max-width: @tablet-width) {
  .chronicle {
    margin-bottom: @m118px;
  }

  .chronicle__title {
    margin-bottom: @m44px;
    font-size: @m40px;

    -webkit-text-stroke-width: @m1px;
  }

  .chronicle__block {
    padding-top: @m32px;
    padding-bottom: @m32px;

    border-bottom: @m1px solid #DEDEDE;
    &:first-of-type {
      border-top: @m1px solid #DEDEDE;
    }

  }

  .chronicle__date {
    width: @m230px;
    font-size: @m60px;
    -webkit-text-stroke-width: @m1px;
  }

  .chronicle__list {
    margin-top: @m26px;
  }

  .chronicle__item {
    font-size: @m18px;
    line-height: @m27px;

    &:first-letter {
      padding-left: @m23px;
    }

    &::after {
      top: -@m3px;
      left: @m5px;
      font-size: @m10px;
    }
  }

  .chronicle__btn,
  .chronicle__more-btn {
    width: @m67px;
    height: @m67px;

    border: @m3px solid #FFFFFF;
  }

  .chronicle__icon-arrow {
    width: @m35px;
    height: @m35px;
  }

  .chronicle__btn-more-wrap {
    margin-top: @m42px;
    font-size: @m18px;
  }

  .chronicle__more-text {
    padding-left: @m13px;
  }
}