.link-sections {
}

.link-sections__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-sections__item {
  margin-bottom: 10rem;
}

.link-sections__title {
  margin-bottom: 3.4rem;
  .padding-inline(3.2rem);

  font-weight: 700;
  font-size: 4rem;
}

.link-sections__img-wrap {
  max-width: 647px;
  height: 27rem;
  margin-bottom: 3.2rem;
}

.link-sections__img {
  .img-cover;
}

.link-sections__desc {
  max-width: 440px;
  margin-bottom: 4.5rem;
  .padding-inline(3.2rem);

  font-size: 2.4rem;
  line-height: 3.5rem;
}

.link-sections__btn-link {
  margin-left: 6rem;
}

@media (max-width: 1782px) {
  .link-sections__list {
    justify-content: space-evenly;
  }
}

// @media (max-width: 1342px) {
//   .link-sections__list {
//     justify-content: space-around;
//   }
// }

// @media (max-width: 750px) {
//   .link-sections__title {
//     margin-bottom: 20px;
//     .padding-inline(17px);
//     font-size: 35px;
//   }

//   .link-sections__item {
//     width: 100%;
//     margin-bottom: 93px;
//     &:nth-child(odd) {
//       margin-left: 0;
//     }
//     &:nth-child(even) {
//       margin-left: 0;
//     }
//     &:last-child {
//       margin-bottom: 0;
//     }
//   }

//   .link-sections__img-wrap {
//     max-width: none;
//     height: 200px;
//     margin-bottom: 26px;
//   }

//   .link-sections__desc {
//     max-width: none;
//     margin-bottom: 42px;
//     .padding-inline(17px);

//     font-size: 20px;
//     line-height: 25px;
//   }

//   .link-sections__btn-link {
//     margin-left: 47px;
//   }
// }