.link-sections {
}

.link-sections__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  // grid-template-columns: repeat(auto-fill, 647px);
  // justify-content: space-between;
}

.link-sections__item {
  // max-width: 647px;
  margin-bottom: 100px;
  // .margin-inline(@a);
  &:nth-child(2n) {
    // justify-self: end;
  }
}

.link-sections__link {
}

.link-sections__title {
  margin-bottom: 34px;
  .padding-inline(32px);

  font-weight: 700;
  font-size: 40px;

  text-transform: uppercase;
}

.link-sections__img-wrap {
  width: 647px;
  height: 270px;
  margin-bottom: 32px;
}

.link-sections__img {
  .img-cover;
}

.link-sections__desc {
  max-width: 440px;
  margin-bottom: 45px;
  .padding-inline(32px);

  font-size: 24px;
  line-height: 35px;
}

.link-sections__btn-link {
  margin-left: 60px;
}

.link-sections__icon-arrow {
  padding-left: 11px;
}

.link-sections__icon-arrow--right {
}
