.main-swiper {
  counter-reset: imgCount;
}

.main-swiper__subtitle-wrap {
  margin-left: 118px;
  margin-bottom: 26px;
}

.main-swiper__pagination {
  top: 3px;
  bottom: @a;
  left: 50%;
  transform: translateX(-722px);

  font-weight: 700;
  font-size: 18px;

  &.swiper-pagination {
    width: 80px;
  }
}

.main-swiper__subtitle {
  &::after {
    right: -374px;
    width: 367px;
  }
}

.main-swiper__text-wrap {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  min-height: 154px;
  margin-left: 118px;
  margin-bottom: 40px;
}

.main-swiper__title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}

.main-swiper__desc {
  font-size: 18px;
  line-height: 27px;
}

.main-swiper__img-block {
  position: relative;
  max-width: 1920px;
  height: 523px;

  .margin-inline(@a);

  &::before {
    counter-increment: imgCount;
    content: counter(imgCount, decimal-leading-zero);

    position: absolute;
    top: -153px;
    left: 40px;

    font-weight: 800;
    font-size: 302px;

    color: transparent;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }
}

.main-swiper__img {
  .img-cover;
}

.main-swiper__arrows-wrap {
  top: 95px;
  // right: 255px;
  right: 50%;
  transform: translateX(705px);
}

@media (max-width: 1920px) {
  .main-swiper__arrows-wrap {
    right: 255px;
    transform: none;
    // right: 50%;
    // transform: translateX(705px);
  }
}

@media (max-width: 1810px) {
  .main-swiper__arrows-wrap {
    right: 80px;
  }
}

@media (max-width: 1450px) {
  .main-swiper__pagination {
    transform: translateX(-@d956px);
  }
  .main-swiper__arrows-wrap {
    top: 50px;
    right: @a;
    left: 0;
    // transform: translateX(-@d800px);
    // width: @d150px;
  }

  .main-swiper__button-prev,
  .main-swiper__button-next,
  .main-swiper__icon-arrow {
    // width: @d50px;
    // height: @d50px;
  }

  .main-swiper__img-block {
    &::before {
      top: -90px;
      left: 10px;
      font-size: 130px;
    }
  }
}

@media (max-width: 1020px) {
  .main-swiper__arrows-wrap {
    // transform: translateX(-@d740px);
    // width: 90px;
  }

  // .main-swiper__button-prev,
  // .main-swiper__button-next,
  // .main-swiper__icon-arrow {
  //   width: 30px;
  //   height: 30px;
  // }
}