.progress {
}

.progress__column-wrap {
  .o;
  display: flex;
}

.progress__column-left {
}

.progress__img-wrap {
  margin: 0;
  width: 726px;
  height: 726px;
  .o;
}

.progress__img {
  .img-cover;
}

.progress__column-right {
}

.progress__title {
  font-weight: 700;
  font-size: 65px;
}

.progress__desc {
}

.progress__link-wrap {
}

.progress__link {
}

.progress-sections__icon-arrow {
}

.progress__list {
}

.progress__item {
}

.progress__chart-title {
}

.progress__chart-desc {
}