.projects__item {
  position: relative;
  margin-left: 0.8rem;
  padding-left: 4rem;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5rem;
    left: -0.6rem;

    width: 33.6rem;
    height: 36.5rem;

    border: 0.3rem solid #fff;
  }
}

.projects__subtitle {
  margin-bottom: 2rem;
  &::after {
    right: -22.9rem;
    width: 21.7rem;
  }
}

.projects__title {
  max-width: 42.5rem;
  margin-bottom: 0.3rem;

  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
}

.projects__btn-link {
  margin-bottom: 3rem;
}

.projects__img-wrap {
  height: 35rem;
}

.projects__img {
  .img-cover;
}

@media (max-width: @tablet-width) {
  .projects__item {
    margin-left: 8px;
    padding-left: 5px;
    &::before {
      top: -30px;
      height: 336px;
    }
  }

  .projects__subtitle {
    margin-bottom: 35px;
    &::after {
      right: -179px;
      width: 166px;
    }
  }

  .projects__title {
    max-width: 320px;
    margin-bottom: 10px;

    font-size: 35px;
    line-height: 40px;
  }

  .projects__btn-link {
    margin-bottom: 18px;
  }

  .projects__icon-arrow {
    width: 42px;
    padding-left: 14px;
  }

  .projects__img-wrap {
    margin-left: 20px;
    height: 250px;
  }
}

@media (max-width: @mobile-width) {
  .projects__item {
    margin-left: @m8px;
    padding-left: @m5px;
    &::before {
      top: -@m30px;
      height: @m336px;
    }
  }

  .projects__subtitle {
    margin-bottom: @m35px;
    &::after {
      right: -@m179px;
      width: @m166px;
    }
  }

  .projects__title {
    max-width: @m320px;
    margin-bottom: @m10px;

    font-size: @m35px;
    line-height: @m40px;
  }

  .projects__btn-link {
    margin-bottom: @m18px;
  }

  .projects__icon-arrow {
    width: @m42px;
    padding-left: @m14px;
  }

  .projects__img-wrap {
    margin-left: @m20px;
    // max-width: 327px;
    height: @m250px;
  }
}