.slogan {
  box-sizing: border-box;
  position: relative;

  max-width: 1920px;
  min-height: 643px;
  .margin-inline(@a);
}

.slogan__bg-img-wrap {
  position: absolute;
  z-index: -1;

  max-width: 1920px;
  height: 643px;
}

.slogan__bg-img {
  .img-cover;
}

.slogan__content-wrap {
  box-sizing: border-box;
  padding-top: 71px;
}

.slogan__intro-slogan,
.slogan__subtitle,
.slogan__title,
.slogan__link {
  color: #fff;
}

.slogan__intro-slogan {
  margin-bottom: 26px;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

.slogan__subtitle {
  margin-bottom: 65px;
  &::after {
    width: 217px;
    right: -231px;
    background-color: #fff;
  }
}

.slogan__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 300px;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 85px;
  line-height: 100px;

  text-transform: uppercase;

  &--big {
    font-size: 110px;
    line-height: 120px;
  }
}

.slogan__title-item {
  &--end {
    align-self: flex-end;
  }
  &--ml80 {
    margin-left: 80px;
  }
  &--ml175 {
   margin-left: 175px;
  }
  &--ml270 {
    margin-left: 270px;
  }
}

.slogan__link {
  font-size: 22px;
}

.slogan__icon-arrow {
  fill: #fff;
}

@media (max-width: 1500px) {
  .slogan__intro-slogan {
    font-size: 18px;
  }

  .slogan__subtitle {
    &::after {
      width: 150px;
      right: -164px;
    }
  }

  .slogan__title {
    min-height: 0;
    font-size: 65px;
    line-height: 80px;
  }

  .slogan__title-item {
    &--end {
      align-self: flex-start;
    }
    &--ml80,
    &--ml175,
    &--ml270 {
      margin-left: 0;
    }
  }
}

@media (max-width: 900px) {
  .slogan__title {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 750px) {
  .slogan {
    min-height: 0;
  }

  .slogan-second {
    margin-bottom: 154px;
  }

  .slogan__intro-slogan,
  .slogan__subtitle {
    color: #000;
  }

  .slogan__intro-slogan {
    position: relative;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 29px;
    &::before {
      position: absolute;
      content: '';
      left: 2px;
      bottom: -25px;

      width: 57px;
      height: 2px;
      background-color: #000;
    }
  }

  .slogan__subtitle {
    margin-bottom: 28px;
    font-weight: normal;
    line-height: 27px;
    &::after {
      content: none;
    }
  }

  .slogan__bg-img-wrap {
    height: 425px;
  }

  .slogan__content-wrap {
    height: 425px;
    margin-bottom: 20px;
    padding-top: 45px;
  }

  .slogan-second {
    .slogan__bg-img-wrap,
    .slogan__content-wrap {
      height: 267px;
    }
    .slogan__content-wrap {
      margin-bottom: 10px;
    }
  }

  .slogan__title {
    min-height: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: 0.05em;
    &--big {
      font-size: 35px;
      line-height: 40px;
    }
  }

  .slogan__link {
    font-size: 20px;
    color: #000;
  }

  .slogan__icon-arrow {
    width: 42px;
    padding-left: 21px;
    fill: #000;
  }
}