.slogan {
  box-sizing: border-box;
  position: relative;

  max-width: 1920px;
  min-height: 64.3rem;
  .margin-inline(@a);
  margin-bottom: 6.8rem;

  &--mb-bigger {
    margin-bottom: 11.4rem;
  }
}

.slogan__bg-img-wrap {
  position: absolute;
  z-index: -1;

  max-width: 1920px;
  width: 100%;
  height: 64.3rem;
}

.slogan__bg-img {
  .img-cover;
}

.slogan__content-wrap {
  box-sizing: border-box;
  padding-top: 7.1rem;
}

.slogan__intro-slogan,
.slogan__subtitle,
.slogan__title,
.slogan__link {
  color: #fff;
}

.slogan__intro-slogan {
  margin-bottom: 2.6rem;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.slogan__subtitle {
  margin-bottom: 6.5rem;
  &::after {
    width: 21.7rem;
    right: -23.1rem;
    background-color: #fff;
  }
}

.slogan__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 30rem;
  margin-bottom: 3.5rem;
  font-weight: 800;
  font-size: 8.5rem;
  line-height: 10rem;

  text-transform: uppercase;

  &--big {
    font-size: 11rem;
    line-height: 12rem;
  }
}

.slogan__title-item {
  -webkit-text-stroke-width: 3px;
  &--ml80 {
    margin-left: 80px;
  }
  &--ml175 {
   margin-left: 175px;
  }
  &--ml270 {
    margin-left: 270px;
  }
  &--ml420 {
    margin-left: 422px;
  }
}

.slogan__link {
  font-size: 2.2rem;
  &.mobile-block {
    display: none;
  }
}

.slogan__icon-arrow {
  fill: #fff;
}

// @media (max-width: 1500px) {
//   .slogan__intro-slogan {
//     font-size: 18px;
//   }

//   .slogan__subtitle {
//     &::after {
//       width: 150px;
//       right: -164px;
//     }
//   }

//   .slogan__title {
//     min-height: 0;
//     font-size: 65px;
//     line-height: 80px;
//   }

//   .slogan__title-item {
//     &--end {
//       align-self: flex-start;
//     }
//     &--ml80,
//     &--ml175,
//     &--ml270 {
//       margin-left: 0;
//     }
//   }
// }

// @media (max-width: 900px) {
//   .slogan__title {
//     font-size: 45px;
//     line-height: 60px;
//   }
// }

@media (max-width: 1230px) {
  .slogan__title-item {
    &--end {
      align-self: flex-start;
    }
    &--ml80,
    &--ml175,
    &--ml270,
    &--ml420 {
      margin-left: 0;
    }
  }
}

@media (max-width: @tablet-width) {
  .slogan {
    min-height: 0;
  }

  .slogan__intro-slogan,
  .slogan__subtitle {
    color: #000;
  }

  .slogan__intro-slogan {
    position: relative;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 29px;
    &::before {
      position: absolute;
      content: '';
      left: 2px;
      bottom: -25px;

      width: 57px;
      height: 2px;
      background-color: #000;
    }
  }

  .slogan__subtitle {
    margin-bottom: 28px;
    font-weight: normal;
    line-height: 27px;
    &::after {
      content: none;
    }
  }

  .slogan__bg-img-wrap {
    width: 100%;
    height: @m425px;
  }

  .slogan__content-wrap {
    height: @m425px;
    margin-bottom: 20px;
    padding-top: 45px;
  }

  .slogan-second {
    .slogan__bg-img-wrap,
    .slogan__content-wrap {
      height: @m267px;
    }
    .slogan__content-wrap {
      margin-bottom: @m10px;
      padding-top: @m82px;
    }
    .slogan__title {
      line-height: @m59px;
    }
  }

  .slogan__title {
    min-height: 0px;
    margin-bottom: 0px;
    font-size: @m40px;
    line-height: @m59px;
    letter-spacing: 0.05em;
    &--big {
      font-size: @m35px;
      line-height: @m40px;
    }
  }

    // .slogan__title-item {
    //   &--end {
    //     align-self: flex-start;
    //   }
    //   &--ml80,
    //   &--ml175,
    //   &--ml270 {
    //     margin-left: 0;
    //   }
    // }

  .slogan__link {
    font-size: 20px;
    color: #000;
    &.mobile-block {
      display: inline-flex;
    }
  }

  .slogan__icon-arrow {
    width: 42px;
    padding-left: 21px;
    fill: #000;
  }
}

@media (max-width: @mobile-width) {
  .slogan {
    margin-bottom: @m144px;
    &--mb-bigger {
      margin-bottom: @m83px;
    }
  }

  .slogan-second {
    margin-bottom: @m154px;
  }

  .slogan__intro-slogan {
    margin-bottom: @m48px;
    font-size: @m20px;
    line-height: @m29px;
    &::before {
      left: @m2px;
      bottom: -@m25px;

      width: @m57px;
      height: @m2px;
    }
  }

  .slogan__subtitle {
    margin-bottom: @m28px;
    line-height: @m27px;
  }

  .slogan__bg-img-wrap {
    height: @m425px;
  }

  .slogan__content-wrap {
    height: @m425px;
    margin-bottom: @m20px;
    padding-top: @m45px;
  }

  // .slogan-second {
  //   .slogan__bg-img-wrap,
  //   .slogan__content-wrap {
  //     height: @m267px;
  //   }
  //   .slogan__content-wrap {
  //     margin-bottom: @m10px;
  //     padding-top: @m82px;
  //   }
  //   .slogan__title {
  //   line-height: @m59px;
  //   }
  // }

  // .slogan__title {
  //   font-size: @m40px;
  //   line-height: @m59px;
  //   &--big {
  //     font-size: @m35px;
  //     line-height: @m40px;
  //   }
  // }

  .slogan__title-item {
    -webkit-text-stroke-width: @m1px;
  }

  .slogan__link {
    font-size: @m20px;
  }

  .slogan__icon-arrow {
    width: @m42px;
    padding-left: @m21px;
  }
}