.team {
  margin-bottom: 25.8rem;
  &--bb {
    margin-bottom: 1.9rem;
    padding-bottom: 10.8rem;
    border-bottom: 0.1rem solid #CAD2DF;
  }
}

.team__title {
  font-weight: 700;
  font-size: 5rem;
  &--stroke {
    font-weight: 800;
    font-size: 9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.team__item {
}

.team__img-wrap {
  max-width: 300px;
  max-height: 300px;
  // width: 30rem;
  // height: 30rem;
  margin-bottom: 2.3rem;
}

.team__img {
  .img-cover;
  border-radius: 50%;
}

.team__person-wrap {
  margin-left: 3.2rem;
}

.team__name {
  position: relative;

  margin-bottom: 2.3rem;
  
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: -3.2rem;
    
    width: 7rem;
    height: 7rem;
    border: 0.3rem solid #fff;
    border-radius: 50%;
  }
}

.team__post {
  font-size: 1.8rem;
  line-height: 2.7rem;
}