.team-swiper {
}

.team-swiper__title {
  position: relative;
  z-index: 2;
  top: 8.4rem;

  max-width: 950px;
}

.team-swiper__container {
  padding-top: 11.5rem;
}

.team-swiper__slide {
}

.team-swiper__item {
}

.team-swiper__arrows-wrap {
}

.team-swiper__button-next {
}

.team-swiper__arrow-next {
}

.team-swiper__button-prev {
}

.team-swiper__arrow-prev {
}

@media (max-width: @tablet-width) {
  .team-swiper__title {
    z-index: 0;
    top: 0;
  }

  .team-swiper__container {
    padding-top: 75px;
  }

  .team-swiper__arrows-wrap {
    right: auto;
    left: 0;
    width: 110px;
  }
  
  .team-swiper__button-next,
  .team-swiper__button-prev,
  .team-swiper__arrow-next,
  .team-swiper__arrow-prev {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: @mobile-width) {
  .team-swiper__title {
    z-index: 0;
    top: 0;
  }

  .team-swiper__container {
    padding-top: @m75px;
  }

  .team-swiper__arrows-wrap {
    right: auto;
    left: 0;
    width: @m110px;
  }
  
  .team-swiper__button-next,
  .team-swiper__button-prev,
  .team-swiper__arrow-next,
  .team-swiper__arrow-prev {
    width: @m40px;
    height: @m40px;
  }
}